.icon-list{
    list-style: none;
    overflow: hidden;
    li{
        padding-top: 10px;
        float: left;
        width: 10%;
        height: 90px;
        text-align: center;
        span{
            display: block;
            text-align: center;
        }
        &:hover{
            background-color: #ccc;
        }
    }
}